# Dependencies
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/
**/out/

# Production builds
build/
**/build/

# Environment variables
.env
.env.*
**/.env
**/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db
